body {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #fff;
  color: #1e3758;
  // background: url('../assets/img/background.png') no-repeat center center fixed; 
  // background-size: cover;
  background: linear-gradient(to right, #445c68, #718a96, #9db3bc);
  margin: 0;
  padding: 0;
  overflow-x: hidden; // Assurez-vous que le contenu ne dépasse pas de l'écran
}

main {
  padding-top: 50px; // Adjust the value based on the actual height of your header
}
.Timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgba(173, 216, 230, 0.9), rgba(173, 216, 230, 0.9));
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 80%;

  .section-title {
    color: #1e3758;
    font-size: 2.5em;
    margin-bottom: 1.5rem;
  }
}

.TimelineItemContentWrapper-sc-d7qjm1-0.timeline-card-content.rc-card{
  background-color: #e0e0e0;
}
 .MediaWrapper-sc-1yk7mm5-0.card-media-wrapper.rc-card-media{
   background-color: #e0e0e0;
 }
.TriangleIconWrapper-sc-d7qjm1-11.hFrYSD{
  background: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: calc(50%);
  transform: translateY(-50%) rotate(225deg);
  z-index: -1;
  right: -13px;
}
.TriangleIconWrapper-sc-d7qjm1-11.dHWHqM{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: calc(50%);
  background: #e0e0e0;
  transform: translateY(-50%) rotate(225deg);
  z-index: -1;
  left: -8px;
}
.MediaDetailsWrapper-sc-1yk7mm5-3.coGqTS{
  bottom: 0;
  left: 0;
  right: 0;
  margin-right: auto;
  width: calc(90% - 0rem);
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  position: relative;
}
.CardTitle-sc-d7qjm1-3.MKRaZ.active.rc-card-title{
  color: #1e3758;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  text-align: left;
  width: 95%;
}
.CardSubTitle-sc-d7qjm1-2.jSOuST.card-sub-title.rc-card-subtitle{
  color: #1e3758;
  font-size: 0.85rem;
  font-weight: 600;
  margin: 0;
  text-align: left;
  width: 97%;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.cardStyle {
  color: #1e3758;
  padding: 10px 10px;
  display : flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  background-color: #f3e9f7; /* Couleur de fond légère */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
  margin-bottom: 20px;
  justify-content: center;
  .logoStyle {
    max-width: 100%;
    max-height: 100px;
    margin-right: 10px;
    /* Ajoutez d'autres styles si nécessaires, par exemple : */
    border-radius: 5px; /* Arrondir les coins */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
    background-color: #fff;
  }
}



