$primary-color: #1e3758;
$secondary-color: #0056b3;
$card-background: #fff;
$box-shadow-color: rgba(0, 0, 0, 0.2);
$spacing-unit: 10px;

.project-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 80%;

  h1 {
    color: $primary-color;
    margin-bottom: 2 * $spacing-unit;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 2 * $spacing-unit;
  width: 100%;
}

.project-card {
  background: $card-background;
  border-radius: $spacing-unit;
  box-shadow: 0 4px 8px $box-shadow-color;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 10px 20px $box-shadow-color;
  }
  .project-image-container {
    flex: 0 0 250px;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  .project-content {
    padding: $spacing-unit;
    .project-title {
      color: $secondary-color;
      margin-bottom: 0.5 * $spacing-unit;
    }
    .project-brief {
      color: #333;
    }
  }
}

@media (max-width: 768px) {
  .project-card {
    .project-title {
      font-size: 1.1rem;
    }
  }
}
