// styles/Skills.scss
.Skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgba(173, 216, 230, 0.9), rgba(173, 216, 230, 0.9));
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 80%;

  .section-title {
    color: #1e3758;
    font-size: 2.5em;
    margin-bottom: 1.5rem;
  }

  .skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .skill-card {
    flex: 1 0 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &.selected {
      animation: pulse 1s infinite;

      .skill-logo {
        transform: scale(1.1);
      }

      .skill-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: 10;
        border-radius: 10px;
      }
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    .skill-logo {
      max-width: 100%;
      max-height: 100px;
      transition: transform 0.3s ease;
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(30, 55, 88, 0.7);
  }
  70% {
    box-shadow: 0 0 10px 10px rgba(30, 55, 88, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(30, 55, 88, 0);
  }
}

@media (max-width: 768px) {
  .Skills {
    max-width: 95%;
    padding: 20px;
  }

  .skill-container {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

  .skill-card {
    height: 80px;
    width: 80px;
  }

  .skill-logo {
    max-height: 50px;
  }
}
